@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  color: #0B132A;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
header .logo img {
  height: 35px;
}
header nav ul {
  display: flex;
}
header nav ul li {
  margin-right: 30px;
}
header nav ul li a {
  color: #0B132A;
}
header .auth-buttons .sign-in {
  margin-right: 20px;
  color: #0B132A;
  font-weight: 400;
}
header .auth-buttons .sign-up {
  background-color: #fff;
  color: #F53855;
  border: 1px solid #F53855;
  border-radius: 20px;
  padding: 10px 25px;
  font-weight: 500;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
}
.hero-content {
  width: 45%;
}
.hero-content h1 {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 20px;
}
.hero-content p {
  color: #4F5665;
  margin-bottom: 40px;
}
.hero-content .get-started {
  background-color: #F53855;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 14px 36px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.hero-content .get-started:hover {
  background-color: #ee0c2f;
}
.hero-image {
  width: 50%;
}

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: -80px;
  padding: 50px 0;
  position: relative;
}
.stats-item {
  display: flex;
  align-items: center;
}
.stats-item-icon {
  margin-right: 20px;
}
.stats-item-data h3 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 5px;
}
.stats-item-data p {
  color: #4F5665;
}

#features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
}
#features .features-image {
  width: 50%;
}
#features .features-content {
  width: 45%;
}
#features .features-content h2 {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 20px;
}
#features .features-content p {
  color: #4F5665;
  margin-bottom: 30px;
}
#features .features-content ul {
  list-style: none;
}
#features .features-content ul li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
#features .features-content ul li::before {
  content: url("./img/check.svg");
  display: inline-block;
  margin-right: 10px;
}

#plans {
  text-align: center;
  padding: 80px 0;
}
#plans .plans-header h1 {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 20px;
}
#plans .plans-header p {
  color: #4F5665;
  margin-bottom: 50px;
}
#plans .plans-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#plans .plan {
  width: 30%;
  max-width: 330px;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  padding: 50px 30px;
  text-align: left;
  margin-bottom: 20px;
}
#plans .plan img {
  margin-bottom: 20px;
}
#plans .plan h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}
#plans .plan ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#plans .plan ul li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  color: #4F5665;
}
#plans .plan ul li::before {
  content: url("./img/check-circle.svg");
  position: absolute;
  left: 0;
  top: 5px;
}
#plans .plan p {
  font-size: 24px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 40px;
}
#plans .plan button {
  background: #fff;
  border: 2px solid #F53855;
  border-radius: 10px;
  color: #F53855;
  padding: 13px 65px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
#plans .plan button:hover {
  background-color: #F53855;
  color: #fff;
}
#plans .plan.premium {
  border-color: #DDDDDD;
}
#plans .plan.active {
  border-color: #F53855;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#plans .plan.active button {
  background-color: #F53855;
  color: #fff;
}

#network {
  padding: 150px 0;
  text-align: center;
}
#network h2 {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 20px;
}
#network p {
  color: #4F5665;
  margin-bottom: 80px;
}
#network .network-logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
#network .network-logos img {
  margin: 20px;
  max-height: 50px;
}

#testimonials {
  padding: 100px 0;
  text-align: center;
}
#testimonials .testimonials-header h1 {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 20px;
}
#testimonials .testimonials-header p {
  color: #4F5665;
  margin-bottom: 50px;
}
#testimonials .testimonials-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}
#testimonials .testimonial {
  width: 30%;
  margin-bottom: 20px;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  padding: 30px;
  text-align: left;
  flex: 0 0 30%; /* Adjust as needed for spacing */
  margin-right: 20px; /* Add some spacing between testimonials */
  scroll-snap-align: start;
}
#testimonials .testimonial:last-child {
  margin-right: 0; /* Remove margin from the last item */
}
#testimonials .testimonial .user {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#testimonials .testimonial .user img {
  border-radius: 50%;
  margin-right: 15px;
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}
#testimonials .testimonial .user .user-info h4 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}
#testimonials .testimonial .user .user-info p {
  color: #4F5665;
}
#testimonials .testimonial .rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}
#testimonials .testimonial .rating p {
  font-size: 16px;
  font-weight: 500;
  margin-right: 10px;
}
#testimonials .testimonial .rating img {
  height: 20px;
}
#testimonials .testimonial .quote {
  color: #0B132A;
}
#testimonials .carousel-navigation {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#testimonials .carousel-navigation button {
  background: none;
  border: none;
  font-size: 24px;
  margin: 0 15px;
  cursor: pointer;
  color: #0B132A;
  transition: color 0.3s ease;
}
#testimonials .carousel-navigation button:hover {
  color: #F53855;
}

#subscribe {
  background-color: #fff;
  padding: 50px 0;
  text-align: center;
}
#subscribe .subscribe-content h1 {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 20px;
}
#subscribe .subscribe-content p {
  color: #4F5665;
  margin-bottom: 30px;
}
#subscribe .subscribe-button {
  background-color: #F53855;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 14px 36px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#subscribe .subscribe-button:hover {
  background-color: #F53815;
}

/* Footer */
footer {
  background-color: #F8F8FF;
  padding: 80px 0;
}
footer .footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .footer-logo {
  width: 25%;
}
footer .footer-logo img {
  height: 35px;
  margin-bottom: 20px;
}
footer .footer-logo p {
  color: #4F5665;
  margin-bottom: 20px;
}
footer .footer-logo .social-icons img {
  margin-right: 20px;
}
footer .footer-logo p:last-child {
  color: #4F5665;
  font-size: 14px;
}
footer .footer-links {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
footer .footer-links div {
  width: 30%;
}
footer .footer-links div h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}
footer .footer-links div ul {
  list-style: none;
  padding: 0;
}
footer .footer-links div ul li {
  margin-bottom: 10px;
}
footer .footer-links div ul a {
  color: #4F5665;
}
footer .footer-links div ul a:hover {
  color: #F53855;
}

@media (max-width: 768px) {
  header {
    padding: 20px;
  }
  header nav {
    display: none;
  }
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 40px 0;
  }
  .hero-content {
    width: 100%;
    order: 2;
  }
  .hero-image {
    width: 100%;
    order: 1;
  }
  .stats {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  .stats-item {
    margin-bottom: 20px;
  }
  #features {
    flex-direction: column;
    padding: 40px 0;
  }
  #features .features-image {
    width: 100%;
    order: 1;
  }
  #features .features-content {
    width: 100%;
    order: 2;
  }
  #plans .plans-container {
    flex-direction: column;
  }
  #plans .plan {
    width: 80%;
    margin-bottom: 30px;
  }
  #network {
    padding: 80px 0;
  }
  #network .network-logos img {
    margin: 10px;
    max-height: 40px;
  }
  #testimonials .testimonials-header p {
    margin-bottom: 30px;
  }
  #testimonials .testimonials-container {
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 20px; /* Add some padding to see the last item */
  }
  #testimonials .testimonial {
    width: 80%; /* Make them wider on smaller screens */
    margin-right: 20px;
    margin-bottom: 30px;
    flex: 0 0 80%;
    scroll-snap-align: start;
  }
  #testimonials .testimonial:last-child {
    margin-right: 0;
  }
  footer .footer-container {
    flex-direction: column;
  }
  footer .footer-logo,
  footer .footer-links {
    width: 100%;
    margin-bottom: 30px;
  }
  footer .footer-links {
    flex-direction: column;
  }
  footer .footer-links div {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */